<!DOCTYPE html>
	<html>
		<head>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="wrapper">
				<a class="title fontStyle" href="/blog">爱篮球的程序猿 | 博文列表</a>
				<div class="container">
					<div class="middle">
						{{ content }}
					</div>
				</div>
				<footer class="footer">
					<a class="fontStyle footerLeft" href="mailto:77900460@qq.com">邮箱</a>
					<a class="fontStyle footerRight" href="https://github.com/guyongliang">github</a>
				</footer>
			</div>
		</body>
	</html>
